<?xml version="1.0"?>
<configuration>


  <appSettings>
    <add key="PCBCOM" value="COM1"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=172.16.10.50/orcl;User ID=joylogic;Password=joylogic;Persist Security Info=false;"/>-->
    <add name="ConnectionString" connectionString="user id=admed;password=admed;initial catalog=admed;datasource=localhost;connect Timeout=20"/>
  </connectionStrings>

  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
